@import './layout.css';
@import './colors.css';

.slider-wrapper {
  background-color: var(--color-dark-main);
  padding: 1rem 1rem;
  max-width: 95%;
}

input[type='radio'] {
  /* visibility: hidden;
  width: 0;
  height: 0; */
}

.slider {
  width: 100%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr auto;
  row-gap: 1rem;
}

.slider__viewport {
  grid-column-start: 1;
  grid-column-end: 3;
  overflow-x: hidden;
}

.slider__slides {
  display: flex;
  transition: all 1s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  background-color: var(--color-accent-main);
  color: var(--color-dark-main);
  font-size: 4rem;
  text-align: center;
}

.slide + .slide {
  margin-left: 5%;
}

.slide > img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.slider__captions-viewport {
  grid-column-start: 1;
  grid-column-end: 2;
  overflow-x: hidden;
}

.slider__captions {
  width: 100%;
  display: flex;
  transition: all 1.5s ease-in-out;
}

.slider__caption {
  width: 100%;
  flex-shrink: 0;
  color: var(--color-light-main);
}

/* LOGIC */

#control-1:checked ~ .slider > .slider__viewport > .slider__slides > #slide-1 {
  transform: translateX(0);
}

#control-2:checked ~ .slider > .slider__viewport > .slider__slides {
  transform: translateX(-105%);
}
#control-3:checked ~ .slider > .slider__viewport > .slider__slides {
  transform: translateX(-210%);
}
#control-4:checked ~ .slider > .slider__viewport > .slider__slides {
  transform: translateX(-315%);
}
#control-5:checked ~ .slider > .slider__viewport > .slider__slides {
  transform: translateX(-420%);
}

#control-1:checked ~ .slider > .slider__captions-viewport > .slider__captions {
  transform: translateX(0);
}

#control-2:checked ~ .slider > .slider__captions-viewport > .slider__captions {
  transform: translateX(-100%);
}
#control-3:checked ~ .slider > .slider__captions-viewport > .slider__captions {
  transform: translateX(-200%);
}
#control-4:checked ~ .slider > .slider__captions-viewport > .slider__captions {
  transform: translateX(-300%);
}
#control-5:checked ~ .slider > .slider__captions-viewport > .slider__captions {
  transform: translateX(-400%);
}

.slider__navigation {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
}

.slider__navigation > label {
  margin-left: 0.25rem;
  background-color: var(--color-light-main);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.slider__navigation > label > span {
  display: inline-block;
  color: var(--color-dark-main);
  width: 1.2rem;
}

/* MEDIA */

@media (max-width: 767px) {
  .slider {
    grid-template-rows: 3;
    grid-template-columns: 1;
  }

  .slider__viewport {
    grid-row: 1/2;
  }

  .slider__captions-viewport {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .slider__navigation {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;
  }
}
