/* LOGIC */

/* SLIDES movement */
#control-1:checked ~ .slider > .slider__viewport > .slider__slides {
  transform: translateX(0);
}

#control-2:checked ~ .slider > .slider__viewport > .slider__slides {
  transform: translateX(-105%);
}

#control-3:checked ~ .slider > .slider__viewport > .slider__slides {
  transform: translateX(-210%);
}

#control-4:checked ~ .slider > .slider__viewport > .slider__slides {
  transform: translateX(-315%);
}

#control-5:checked ~ .slider > .slider__viewport > .slider__slides {
  transform: translateX(-420%);
}

#control-6:checked ~ .slider > .slider__viewport > .slider__slides {
  transform: translateX(-525%);
}

/* TEXT movement */
#control-1:checked ~ .slider > .slider__captions-viewport > .slider__captions {
  transform: translateX(0);
}

#control-2:checked ~ .slider > .slider__captions-viewport > .slider__captions {
  transform: translateX(-100%);
}

#control-3:checked ~ .slider > .slider__captions-viewport > .slider__captions {
  transform: translateX(-200%);
}

#control-4:checked ~ .slider > .slider__captions-viewport > .slider__captions {
  transform: translateX(-300%);
}

#control-5:checked ~ .slider > .slider__captions-viewport > .slider__captions {
  transform: translateX(-400%);
}

#control-6:checked ~ .slider > .slider__captions-viewport > .slider__captions {
  transform: translateX(-500%);
}

/* TEXT ANIMATION */

#control-1:checked ~ .slider > .slider__captions-viewport #caption-1 {
  animation: fromdark 2s ease-in;
}

#control-2:checked ~ .slider > .slider__captions-viewport #caption-2 {
  animation: fromdark 2s ease-in;
}

#control-3:checked ~ .slider > .slider__captions-viewport #caption-3 {
  animation: fromdark 2s ease-in;
}

#control-4:checked ~ .slider > .slider__captions-viewport #caption-4 {
  animation: fromdark 2s ease-in;
}

#control-5:checked ~ .slider > .slider__captions-viewport #caption-5 {
  animation: fromdark 2s ease-in;
}

#control-6:checked ~ .slider > .slider__captions-viewport #caption-6 {
  animation: fromdark 2s ease-in;
}

/* CONTROLS EFFECTS */

#control-1:checked
  ~ .slider
  > .slider__navigation
  > label[for='control-1']
  > span {
  background-color: var(--color-accent-main);
}

#control-2:checked
  ~ .slider
  > .slider__navigation
  > label[for='control-2']
  > span {
  background-color: var(--color-accent-main);
}

#control-3:checked
  ~ .slider
  > .slider__navigation
  > label[for='control-3']
  > span {
  background-color: var(--color-accent-main);
}

#control-4:checked
  ~ .slider
  > .slider__navigation
  > label[for='control-4']
  > span {
  background-color: var(--color-accent-main);
}

#control-5:checked
  ~ .slider
  > .slider__navigation
  > label[for='control-5']
  > span {
  background-color: var(--color-accent-main);
}

#control-6:checked
  ~ .slider
  > .slider__navigation
  > label[for='control-6']
  > span {
  background-color: var(--color-accent-main);
}

/* .slider__caption {
  animation: fromdark 2s ease-in;
} */

@keyframes fromdark {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
